@theme {
  --color-gray-900: #111827; 
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
}

/* hide spinners in number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
    border: 1px solid transparent; 
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  @media (min-width: 0px) {
      * {
          scrollbar-width: thin;
          scrollbar-color: #334155 transparent;
      }
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}